:root {
    --max-width--body-normal: 54.5em !important;
    --drawer-height: 100svh;
}

.button-unstyled.slideshow-control.slideshow-control--shape-circle {
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
}


slideshow-controls.carousel-controls:has(.icon-pause) {
    justify-content: center !important;
}

slideshow-controls.carousel-controls .icon-pause,
slideshow-controls.carousel-controls .icon-play {
    display: none !important;
}

.slideshow-controls__dots button:after {
    box-shadow: none !important;
}

.slideshow-control:is(.icon-pause,.icon-play) {
    display: none !important;
}

.button {
    --button-padding-block: 14px !important;
    font-weight: var(--font-accent--weight);
}

.section--page-narrow {
  --page-margin: 16px;
  --page-width: calc(78rem + (var(--page-margin) * 2)) !important;
}

.text-block ul {
    padding-left: 1rem;
}

.header {
    --header-padding: var(--padding-lg) !important;
}

.email-signup__input, .email-signup__button--text {
    padding: var(--padding-md) var(--padding-3xl) !important;
}

.email-signup__button--integrated {
    margin: 0 !important;
}

.use-height-icon img, .use-height-icon svg {
    width: auto !important;
    height: var(--height) !important;
    object-fit: contain;
}

summary {
    -webkit-tap-highlight-color: transparent;
}

.header-actions__action:has(.header-action-text) {
    flex-direction: column;
    width: fit-content !important;
    padding: 0;
    height: 100%;
    gap: var(--gap-2xs);
    justify-content: space-between;
}

.header-actions__action:has(.header-action-text) .svg-wrapper {
    height: auto;
}

.header__columns:has(.header-action-text) .dropdown-localization {
    margin-right: var(--gap-xs);
}
/* .header-actions__action:has(.header-action-text) svg {
    height: 1.8rem !important;
} */

.header-action-text {
    font-size: var(--font-size--xs) !important;
    text-transform: none !important;
    font-family: var(--font-body--family);
    font-weight: var(--font-body--weight);
    line-height: 1em;
}

.header__column--right, .header__column--right header-actions:has(.header-action-text) {
    gap: var(--gap-lg) !important;
    margin-inline: 0 !important;
}
.header-actions__action svg {
    width: auto !important;
    height: var(--icon-size-sm) !important;
}

.menu-list__link:has(.menu-arrow-icon) {
    gap: var(--gap-xs);
}


.menu-drawer__backdrop {
    display: none !important;
}
.menu-drawer__menu-item--mainlist {
    min-height: calc(2 * var(--padding-lg) + var(--icon-size-xs));
    font-size: var(--font-size-md) !important;
}

.menu-drawer__close-button {
    display: none !important;
}

.menu-open > .menu-drawer__close-button {
    display: block !important;
}

.menu-open > .header__icon--summary {
    display: none !important;
}

.menu-drawer__close-button .svg-wrapper {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
}

.menu-drawer__menu-item > .icon-caret--forward {
    transition: all ease var(--drawer-animation-speed);
}

.menu-drawer__list-item--deep details[open] .menu-drawer__menu-item > .icon-caret--forward  {
    transform: rotate(90deg);
}

.menu-drawer__menu-item > .icon-caret--forward {
    padding-inline-start: 0 !important;
}

.menu-drawer__list-item--divider:first-child {
    border-block-start: 1px solid var(--color-border);
}

.menu-drawer__menu-item {
    text-transform: unset !important;
}

.menu-drawer__menu-item {
    font-size: var(--font-size-md) !important;
    color: rgb(var(--color-foreground-rgb) / 1) !important;
}

.menu-drawer__inner-submenu {
    padding-block-end: var(--padding-xl);
}

.menu-drawer__menu-item.menu-drawer__menu-item--mainlist {
    border-block-end: 1px solid var(--color-border);
}
.wa__btn_popup {
    z-index: 2 !important;
}

[data-sticky-state="active"] .menu-drawer {
    top: calc(var(--header-height) - 1px);
    height: calc(var(--drawer-height) - var(--header-height));
}

.menu-list__list-item {
    position: relative;
}

.mega-menu__list[data-menu-list-id="MegaMenuList-1"],[data-menu-grid-id="MegaMenuList-1"] {
    --menu-columns-desktop: 1 !important;
    --menu-columns-tablet: 1 !important;
}

.overflow-menu:after {
    display: none !important;
}

.template-index .header__row  {
  background: rgb(203 231 255);
}

.menu-list__submenu-inner {
    padding-block: var(--padding-lg) !important;
}

.mega-menu__link {
    padding: var(--padding-xs) 0 !important;
    text-transform: none !important;
    width: 100%;
}

.menu-drawer__back-button {
    padding: var(--padding-lg) var(--padding-xl) !important;
}

.menu-drawer__menu.has-submenu, .menu-drawer__menu--childlist:not(:has(.menu-drawer__animated-element)) {
    padding-block-end: 100px !important;
    margin-block-end: 0 !important;
}

@media (min-width: 750px) {
    .header-actions__action svg {
        width: auto !important;
        height: var(--icon-size-lg) !important;
    }

    .header__column--right .search-action {
        margin-inline: 0 !important;
    }
    .header__column--right {
        align-items: flex-start !important;
    }
}

@media (max-width: 749px) {
    :is(.carousel--mobile-full-width) > .resource-list__carousel, :is(.carousel--mobile-full-width) > .custom-section-content {
        grid-column: 1 / -1;
    }

    .carousel--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100%;"] slideshow-slides {
        padding-inline: 0 !important;
        scroll-padding-inline-start: 0;
    }

    :is(.carousel--mobile-full-width) .featured-blog-posts-card__content {
        padding-inline: var(--page-margin);
    }

    .section--mobile-full-width .custom-section-content {
        grid-column: 1 / -1;
    }

    .mobile-group-column-reverse > .group-block-content {
        flex-direction: column-reverse !important;
    }

    .mobile-section-column-reverse {
        flex-direction: column-reverse !important;
    }

    .spacing-style[style*="--mobile-padding-block-start"] {
        padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
    }

    .spacing-style[style*="--mobile-padding-inline-start"] {
        padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    [style*="--mobile-font-size"],
    [style*="--mobile-font-size"] > * {
        font-size: var(--mobile-font-size) !important;
    }

    [style*="--mobile-border-radius"] {
        border-radius: var(--mobile-border-radius) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment"] {
        align-items: var(--horizontal-mobile-alignment) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment: flex-start"] {
        > .text-block {
            text-align: left;
        }
    }

    .mobile-column[style*="--horizontal-mobile-alignment: center"] {
        > .text-block, .text-block > * {
            text-align: center;
        }
    }

    [style*="--mobile-gap"] {
        gap: var(--mobile-gap) !important;
    }

    [style*="--mobile-ratio"] > img,  [style*="--mobile-ratio"] > video {
       aspect-ratio: var(--mobile-ratio) !important;
    }

    .use-height-icon[style*="--mobile-height"] img, .use-height-icon[style*="--mobile-height"] svg {
        height: var(--mobile-height) !important;
    }

    .header__columns {
        --header-template-columns: 1fr max-content max-content var(--header-mobile-bookend) !important;
        grid-template-areas: "center leftB rightB rightA" !important;
    }

    .header__column--right, .header__column--right header-actions:has(.header-action-text) {
        gap: var(--gap-2xs) !important;
    }
    .header__columns .search-action {
        padding-right: var(--gap-2xs);
    }
    .header-logo {
        justify-content: flex-start !important;
        margin-inline: 0 !important;
        margin-inline-start: var(--page-margin) !important;
    }

    .header-action-text {
        font-size: var(--font-size--2xs) !important;
    }
}